.caixa-cartoes{
    display: flex;
    justify-content: space-evenly;
}

.caixote{
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 10px gray;
}

.caixote img{
    width: 100%;
    border-radius: 15px;
    height: 50%;
}

.item p{
    padding: 5px;
    text-align: justify;
}

.item h2{
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    padding: 10px;
    border-radius: 15px;
    background-color: dodgerblue;
    border-color: rgb(2, 25, 153);
}
.info-extra {
    display: none; /* Esconde por padrão */
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 100%;
}


.info-extra.mostrar {
    display: block;
}
